<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manuel E. Marquez | Website</title>
    <link rel="stylesheet" href="static/css/foundation.css" />
    <!-- My Style -->
    <link rel="stylesheet" href="static/css/mystyle.css">
    <!-- WebIcons -->
    <link rel="stylesheet" href="static/css/foundation-icons.css" />
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="static/js/vendor/modernizr.js"></script>
  </head>
  <body>
  <!-- Main Super Body -->

  <section class="bg" >


  <!-- Main Body -->
  <div class="push-panel-top"></div>
  <div class="row large-centered large-12 text-center panel my-panel">
        <h3 class="center">Welcome to My Site!</h3>
        <br />
        <img src="static/img/circle_me.png" class="circle-img center" />
        <br />
        <h4 class="center">Manuel E. Marquez-Rodriguez</h4>
        <h4 class="center">I'm Sofware Lover, Hacker, Mobile Developer, Political Enthusiast</h4>
        <h4 class="center">Native from Puerto Rico</h4>
  </div>
   



   <!-- Footer -->
   <footer id="footer">
    <div class="row">
      <div id="linkedin" class="large-3 columns panel">
           <a href="http://linkedin.com/in/mmarquezpr">
           <span class="size-36"><i class="step fi-social-linkedin"></i>  LinkedIn</span>
           </a>
        </div>
        <div id="github" class="large-3 columns panel">
           <a href="http://github.com/mmarquezpr">
            <span class="size-36"><i class="step fi-social-github"></i>  GitHub</span>
           </a>
        </div>
        <div id="twitter" class="large-3 columns panel">
           <a href="http://twitter.com/mmarquezpr"><span class="size-36"><i class="step fi-social-twitter"></i>  Twitter</span></a>
        </div>
        <div id="mail" class="large-3 columns panel">
         <a href="mailto:manuel.marquez1@upr.edu">
          <span class="size-36"><i class="step fi-mail"></i>  Mail</span>
         </a>
        </div>
      </div>
    </footer>



  </section>
  <!-- Init Foundation -->
  <script src="static/js/vendor/jquery.js"></script>
  <script src="static/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  </body>
</htlm> 