html {
  width: 100%;
  height: 100%;
  background: url('../img/bg.png') no-repeat center center fixed;
  background-attachment: fixed;   
  -webkit-background-size: cover;  
  -moz-background-size: cover;  
  -o-background-size: cover;  
  background-size: cover;  
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg.png', sizingMethod='scale')";  
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg.png', sizingMethod='scale');  
}

#footer{
    position: relative;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
}

.circle-img{
  height: 20%;
  width: 20%; 


}

.push-panel-top{

  padding-top: 10%;

  filter:alpha(opacity=0);
  opacity:0;

}
.push-panel-bottom{

  padding-bottom: 15%;

  filter:alpha(opacity=0);
  opacity:0;

}

.my-panel{

  background-color: rgb(250, 250, 250);
  filter:alpha(opacity=98);
  opacity:0.98;


}


.center{

  display: block;
  margin-left: auto;
  margin-right: auto;
}


#twitter {

  background-color: rgb(154,228,232);
  filter:alpha(opacity=90);
  opacity:0.9;

}

#linkedin {

  background-color: rgb(14, 118, 168);
  filter:alpha(opacity=90);
  opacity:0.9;

}

#github {
  background-color: rgb(153, 153, 153);
  filter:alpha(opacity=90);
  opacity:0.9;

}

#mail {

  background-color:  rgb(221, 75, 57);
  filter:alpha(opacity=90);
  opacity:0.9;
}


/* Font Size Classes */
.size-12 { font-size: 12px; }
      
.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }
